label {
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

fieldset {
  border: 1px solid rgba(80, 78, 78, 0.466);
  padding: 10px 14px;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 332px;
}

legend {
  padding: 0 5px;
  font-size: 16px;
  font-weight: 500;
}

.form {
  margin-top: 24px;
}

.delay {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}

.delay input {
  width: 360px;
  height: 40px;
  padding: 0;
  border-radius: 5px;
  border: 1px solid rgba(80, 78, 78, 0.466);
  text-align: center;
  margin-bottom: 16px;
}

.delay input:hover,
.delay input:focus {
  outline: none;
  border-color: #6c8cff;
}

.create-promise-btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
  cursor: pointer;
  transition: background-color 200ms ease-in-out;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.create-promise-btn:hover {
  background-color: #6c8cff;
}
